.container{
    margin: 25px 0;
}

.card{
    margin: 0 1%  !important;
}

.infected{
    border-bottom: 10px solid rgba(0,0,255,0.5);
}
.recovered{
    border-bottom: 10px solid rgba(59, 231, 59, 0.7);
}
.deaths{
    border-bottom: 10px solid rgba(255, 0, 0, 0.966);
}
